<!--{% block body %}-->
<!--<div class="container">-->
    <!--<h1>Welcome</h1>-->
    <!--<h3>Login</h3>-->
    <!--<form method="post">-->
        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <!--<button type="submit">Login</button>-->
    <!--</form>-->
<!--</div>-->
<!--{% endblock %}-->


<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>
    CSR Toolbox - Log in
</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />




<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

    <h1>Cricket Academy</h1>

        </div>


    </div>
    <!-- END Header -->







    <!-- Content -->
    <div id="content" class="colM">



<div id="content-main">


<form action="" method="post" id="login-form">
    {% csrf_token %}
  <div class="form-row">

    {{form.as_p}}
  </div>


  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

</div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
