<head>
    <meta charset="UTF-8">
    <style type="text/css">
         #navbar ul {
              margin: 0;
              padding: 5px;
              list-style-type: none;
              text-align: center;
              background-color: #000;
         }

         #navbar ul li {
            display: inline;
         }

         #navbar ul li a {
          text-decoration: none;
          padding: .2em 1em;
          color: #fff;
          background-color: #000;
         }

         #navbar ul li a:hover {
          color: #000;
          background-color: #fff;
         }
    </style>


</head>

<div id="navbar">
    <ul>
        <li>
            <a href="">Home</a>
        </li>
    </ul>
</div>


<form action="/auth/user/" method="post">
    {% csrf_token %}
    <label>Enter student Id<input type="text" name="id"></label>
    <button>submit</button>
</form>