<head>
    <meta charset="UTF-8">
    <style type="text/css">
         #navbar ul {
              margin: 0;
              padding: 5px;
              list-style-type: none;
              text-align: center;
              background-color: #000;
         }

         #navbar ul li {
            display: inline;
         }

         #navbar ul li a {
          text-decoration: none;
          padding: .2em 1em;
          color: #fff;
          background-color: #000;
         }

         #navbar ul li a:hover {
          color: #000;
          background-color: #fff;
         }
    </style>


</head>

<div id="navbar">
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        {% if admin %}
            <li>
                <a href="http://127.0.0.1:8600/admin/">Admin</a>
            </li>
        {% endif %}
    </ul>
</div>


<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Attendance</th>
    </tr>
    {% for data in user_attendance %}
        <tr>
            <td>{{data.user_id}}</td>
            <td>{{data.date}}</td>
            <td><input type="checkbox" value="{{data.attendance_status}}" {% if data.attendance_status %}checked{% endif %}/></td>
            {% if is_coach %}
                <td><button type="submit">Save</button></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>